{% extends 'back/base.html.twig' %}


{% block title %}
    Gestion marques
{% endblock %}


{% block body %}


<div class="container-fluid my-2">
    <div class="row mt-5">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <h1>{{ marque.nom }}</h1>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-4 mt-3">
            <div class="mt-5 mb-3">
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ marque.nom }}</td>
            </tr>
        </tbody>
    </table>


            </div>
            <div class="d-flex justify-content-center">
                <div class="col-4 mt-3">
                    <a href="{{ path('app_admin_marque_edit', {'id': marque.id}) }}"><button class="btn btn-primary col-md-12 mt-5 mb-4">{{ button_label|default('Modifier') }}</button></a>
                    <a href="{{ path('app_admin_marque_index') }}"><i class="arrowMenu mt-5 fas fa-arrow-alt-circle-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
