{% extends 'front/base.html.twig' %}

{% block title %}Produit | La Nimes'alerie{% endblock %}

{% block body %}

<div class="navbottom">
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        {% for cat in categories %}
            {% if cat.animal.libelle == produit.categorie.animal.libelle %}
                <li><a href="">{{ cat.nom }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div id="fastIndex" class="mt-5">
    <div class="container">
        <div class="col-12">
            <div class="row d-flex">
                <div class="col-1 text-center me-2"><a href="{{ path('app_home') }}"><i class="fas fa-home"></i></a>
                </div>
                {{ produit.categorie.animal.libelle }} > {{ produit.categorie.nom }} > {{ produit.libelle }}
                <hr>
            </div>
        </div>
    </div>
</div>

<div id="productDetail" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 cardLeft">
                <div class="cardProduct mx-auto mt-2 mb-2">
                    <div class="col-12 mx-auto d-flex justify-content-center">
                        {% for photo in produit.photo %}
                            {% if photo.estPrincipale == 1 %}
                                <img class="col-8 col-sm-8 col-md-12 col-lg-10 col-xl-8"
                                     src="{{ asset('build/img/uploads/items/' ~ photo.url) }}"
                                     alt="{{ produit.libelle }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="ms-3 mt-3 pb-4">
                        {% for photo in produit.photo %}
                            {% if photo.estPrincipale == 1 %}
                                <img class="miniature col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 me-3"
                                     src="{{ asset('build/img/uploads/items/' ~ photo.url) }}"
                                     alt="{{ produit.libelle }}">
                            {% endif %}
                        {% endfor %}
                        {% for photo in produit.photo %}
                            {% if photo.estPrincipale == 0 %}
                                <img class="miniature col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 me-3"
                                     src="{{ asset('build/img/uploads/items/' ~ photo.url) }}"
                                     alt="{{ produit.libelle }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 cardRight">
                <div class="cardDescription mx-auto mt-2">
                    <h3 class="mt-5">{{ produit.marque.nom | upper }}</h3>
                    <h5>{{ produit.libelle }}</h5>
                    {# Gestion des notes #}
                    {% if produit.avis is not empty %}
                        {% set count = 0 %}
                        {% set totalNote = 0 %}
                        {% for avis in produit.getAvis %}
                            {% set count = count + 1 %}
                            {% set totalNote = totalNote + avis.note %}
                        {% endfor %}
                        {% set star = totalNote / count %}
                    {% else %}
                        {% set star = 'empty' %}
                    {% endif %}
                    <div class="row d-flex mt-4 mb-3">
                        <div class="col-4 pe-0 text-center">
                            {% include 'front/partials/_notes.html.twig' %}
                        </div>
                        <div class="col-8 ps-0">
                            <a href="#review">nb avis ({{ count }})</a>
                        </div>
                    </div>
                    <p>{{ produit.description }}</p>
                    <div class="row d-flex">
                        {% if produit.quantiteStock > 0 %}
                            <div class="col-1 pe-0 text-center">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="col-8 ms-3 ps-0">
                                En stock ({{ produit.quantiteStock }})
                            </div>
                        {% elseif produit.quantiteStock == 0 %}
                            <div class="col-1 pe-0 text-center">
                                <i class="fas fa-xmark-circle"></i>
                            </div>
                            <div class="col-11 ps-0">
                                Rupture de stock
                            </div>
                        {% endif %}
                    </div>
                    <div class="price mt-3 ms-3">
                        {% set price = produit.prixHt + ((produit.prixHt * produit.tva) /100) | round(2,'floor') %}
                        {% if produit.promotion is null %}
                            {{ price }}€
                        {% else %}
                            {% set promo = produit.promotion.pourcentage %}
                            <div class="oldPrice">{{ price }}€</div>
                            {{ (price*promo) | round(2,'floor') }}€
                        {% endif %}
                    </div>
                    <div class="row d-flex mt-3">
                        {% if app.user %}
                        <div class="col-1 pe-0 text-center">
                            <i class="fas fa-heart"></i>
                        </div>
                        <div class="ms-3 col-8 ps-0">
                            <a href="{{ path('app_add_favorite', {'slug': produit.slug}) }}">Ajouter aux favoris</a>
                        </div>
                        {% else %}
                        <div class="col-1 pe-0 text-center">
                            <i class="fas fa-heart"></i>
                        </div>
                        <div class="ms-3 col-8 ps-0">
                            <a href="{{ path('app_register') }}">Ajouter à liste de souhaits</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row d-flex mt-3">
                        {% if produit.quantiteStock > 0 %}
                        <div class="button ms-3 p-0">
                            <button type="button" class="btn btn-primary">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <div class="formQt p-0 ms-3 me-3">
                            <input type="number" class="form-control"  readonly="readonly" id="quantity" name="quantity" min="1" max="{{ produit.quantiteStock }}" value="1">
                        </div>
                        <div class="button p-0 me-5 mb-3">
                            <button type="button" class="btn btn-primary">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="col-6 ms-3 p-0">
                            <button type="button" class="btn btn-primary addCard">Ajouter au panier</button>
                        </div>
                        {% elseif produit.quantiteStock == 0 %}
                        <div class="button ms-3 p-0">
                            <button type="button" class="btn btn-primary" disabled>
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <div class="formQt p-0 ms-3 me-3">
                            <input type="number" class="form-control"  readonly="readonly" id="quantity" name="quantity" min="1" max="{{ produit.quantiteStock }}" disabled>
                        </div>
                        <div class="button p-0 me-5 mb-3">
                            <button type="button" class="btn btn-primary" disabled>
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="col-6 ms-3 p-0">
                            <button type="button" class="btn btn-primary addCard" disabled>Ajouter au panier</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div id="associate" class="mt-5">
        <div class="container">
            <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                    <h3>Les clients ont également acheté</h3>
                    <hr>
                    {% include 'front/partials/_associate.html.twig' %}
                    {% include 'front/partials/_associate.html.twig' %}
                    {% include 'front/partials/_associate.html.twig' %}
                    {% include 'front/partials/_associate.html.twig' %}
                    {% include 'front/partials/_associate.html.twig' %}
                    {% include 'front/partials/_associate.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div id="review">
        <div class="container">
            <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                    <div class="topReview">
                        <div class="star mt-3">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <p class="mb-1">Avis sur le produit:</p>
                                </div>
                                <div class="col-12 p-0 text-center">
                            {% include 'front/partials/_notes.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="recommendation" class="mt-5">
        <div class="container">
            <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                    <h3>Ces produits pourraient vous plaire</h3>
                    <hr>
                    {% include 'front/partials/_recommendation.html.twig' %}
                    {% include 'front/partials/_recommendation.html.twig' %}
                    {% include 'front/partials/_recommendation.html.twig' %}
                    {% include 'front/partials/_recommendation.html.twig' %}
                    {% include 'front/partials/_recommendation.html.twig' %}
                    {% include 'front/partials/_recommendation.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="d-flex justify-content-center">
            <a href="#header"><button  type="button" class="btn btn-primary mt-5">Haut de page</button></a>
        </div>
    </div>

    {% endblock %}
