{% for produit in nouveauxProduits|slice(0, 12) %}
    <div class="col-6 col-sm-4 col-md-4 col-xl-2 mt-4 mb-3">
        <div class="cardMini">
            <a href="{{ path('app_produit', {'slug': produit[0].slug}) }}">
                <div class="picture">
                    {% for photo in produit[0].photo %}
                        <img class="mt-3" src="{{ asset('build/img/uploads/items/' ~ photo.url) }}" alt="chien">
                    {% endfor %}
                </div>
                <div>
                    <div class="col-12 mt-3">
                        <div class="price fw-bolder mb-0 mx-3">
                            {# gestion du prix #}
                            {% set price = produit[0].prixHt + ((produit[0].prixHt * produit[0].tva) /100) | round(2,'floor') %}
                            {% if produit[0].promotion is null %}
                                {{ price }}€
                            {% else %}
                                {{ (price*produit[0].promotion.pourcentage) | round(2,'floor') }}€
                            {% endif %}
                        </div>
                        <div class="pb-1">
                            {{ produit['note'] | notes }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endfor %}
