{# boucle sur 'meilleurProduits' avec une sécurité supplémentaire de limite à 6 #}
    {% for produit in meilleursProduits|slice(0, 6) %}
        <div class="col-12 col-sm-6 col-md-4 col-xl-2 mt-4 mb-5 test">
            <div class="cardFull">
                <a href="{{ path('app_produit', {'slug': produit[0].slug}) }}">
                    <div class="picture">
                        {% for photo in produit[0].photo %}
                            <img class="mt-3" src="{{ asset('build/img/uploads/items/' ~ photo.url) }}"
                                 alt="{{ produit[0].libelle }}">
                        {% endfor %}
                    </div>
                    <div>
                        <h5 class="title-best mt-1 mb-3 mx-3">{{ produit[0].libelle |slice(0,30) }}</h5>
                        <p class="resume-best mx-3 lh-1">{{ produit[0].resume | slice(0,43) }}</p>
                        {# filtre des notes #}
                        {{ produit['note'] | notes }}
                        <div class="price mx-3 pb-3 fw-bolder">
                            {# filtre du prix #}
                            {% if produit[0].promotion is null %}
                            {{ produit[0].prixHt | prixTtc(produit[0].tva,0) }}
                            {% else %}
                            {{ produit[0].prixHt | prixTtc(produit[0].tva,produit[0].promotion.pourcentage) }}
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}

