<div class="col-md-2 col-4 mt-3">
    <div class="cardAnimal">
        <a href="{{ path('app_animal', {'animal': 'chiens'}) }}">
        <div class="picture">

            <img src="{{ asset('build/img/home/dog.png') }}" alt="chien">
            <div class="card-animal-description d-flex">
                <p class="m-auto">Chiens</p>
            </div>

        </div>
        </a>
    </div>
</div>
<div class="col-md-2 col-4 mt-3">
    <div class="cardAnimal">
        <a href="{{ path('app_animal', {'animal': 'chats'}) }}">
        <div class="picture">
            <img src="{{ asset('build/img/home/cat.png') }}" alt="chats">
            <div class="card-animal-description d-flex">
                <p class="m-auto">Chats</p>
            </div>
        </div>
        </a>
    </div>
</div>
<div class="col-md-2 col-4 mt-3">
    <div class="cardAnimal">
        <a href="{{ path('app_animal', {'animal': 'oiseaux'}) }}">
        <div class="picture">
            <img src="{{ asset('build/img/home/bird.png') }}" alt="oiseaux">
            <div class="card-animal-description d-flex">
                <p class="m-auto">Oiseaux</p>
            </div>
        </div>
        </a>
    </div>
</div>
<div class="col-md-2 col-4 mt-3">
    <div class="cardAnimal">
        <a href="{{ path('app_animal', {'animal': 'poisson'}) }}">
        <div class="picture">
            <img src="{{ asset('build/img/home/fish.png') }}" alt="poisson">
            <div class="card-animal-description d-flex">
                <p class="m-auto">Poissons</p>
            </div>
        </div>
        </a>
    </div>
</div>
<div class="col-md-2 col-4 mt-3">
    <div class="cardAnimal">
        <a href="{{ path('app_animal', {'animal': 'rongeurs'}) }}">
        <div class="picture">
            <img src="{{ asset('build/img/home/rodent.png') }}" alt="rongeurs">
            <div class="card-animal-description d-flex">
                <p class="m-auto">Rongeurs</p>
            </div>
        </div>
        </a>
    </div>
</div>
<div class="col-md-2 col-4 mt-3">
    <div class="cardAnimal">
        <a href="{{ path('app_animal', {'animal': 'reptiles'}) }}">
        <div class="picture">
            <img src="{{ asset('build/img/home/reptile.png') }}" alt="reptiles">
            <div class="card-animal-description d-flex">
                <p class="m-auto">Reptiles</p>
            </div>
        </div>
        </a>
    </div>
</div>