<div class="col-md-2 col-4 mt-3">
    <div class="cardAnimal">
        <div class="picture">
            <img src="{{ asset('build/img/home/dog.png') }}" alt="chien">
            <div class="card-animal-description d-flex">
                <p class="m-auto">Chiens</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 col-4 mt-3">
    <div class="cardAnimal">
        <div class="picture">
            <img src="{{ asset('build/img/home/cat.png') }}" alt="chien">
            <div class="card-animal-description d-flex">
                <p class="m-auto">Chats</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 col-4 mt-3">
    <div class="cardAnimal">
        <div class="picture">
            <img src="{{ asset('build/img/home/bird.png') }}" alt="chien">
            <div class="card-animal-description d-flex">
                <p class="m-auto">Oiseaux</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 col-4 mt-3">
    <div class="cardAnimal">
        <div class="picture">
            <img src="{{ asset('build/img/home/fish.png') }}" alt="chien">
            <div class="card-animal-description d-flex">
                <p class="m-auto">Poissons</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 col-4 mt-3">
    <div class="cardAnimal">
        <div class="picture">
            <img src="{{ asset('build/img/home/rodent.png') }}" alt="chien">
            <div class="card-animal-description d-flex">
                <p class="m-auto">Rongeurs</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 col-4 mt-3">
    <div class="cardAnimal">
        <div class="picture">
            <img src="{{ asset('build/img/home/reptile.png') }}" alt="chien">
            <div class="card-animal-description d-flex">
                <p class="m-auto">Reptiles</p>
            </div>
        </div>
    </div>
</div>