{% extends 'back/base.html.twig' %}

{% block title %}
    Gestion catégories
{% endblock %}


{% block body %}
<div class="container-fluid">
    {{ form_start(filters) }}
    <table class="table table-hover table-striped  mt-5">
        <thead>
            <tr>
                <th>{{
                    knp_pagination_sortable(
                        categories,
                        'Catégorie',
                        'categorie.nom'
                    )|raw
                    }}
                    {{ form_widget(filters.libelle) }}</th>
                <th>{{
                    knp_pagination_sortable(
                        categories,
                        'Nom',
                        'categorie.nom'
                    )|raw
                    }}
                    {{ form_widget(filters.nom) }}</th>
                <th>{{
                    knp_pagination_sortable(
                        categories,
                        'Nom',
                        'categorie.animal'
                    )|raw
                    }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{% if categorie.parent is not null %}
                        {{ categorie.parent.nom }}
                    {% else %}
                        Catégorie parent de {{ categorie.animal.libelle }}
                    {% endif %}</td>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.animal.libelle }}</td>
                <td>
                    <a href="{{ path('app_admin_categorie_show', {'id': categorie.id}) }}">show</a>
                    <a href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(filters) }}

    <div class="navigation d-flex justify-content-center mt-2">
         {{ knp_pagination_render(categories) }}
    </div>
</div>
{% endblock %}
