{% extends 'back/base.html.twig' %}

{% block title %}
    Gestion catégories
{% endblock %}


{% block body %}

<div class="container-fluid">
    <div class="row justify-content-end me-5">
        <div class="pdfButton mt-3 mb-3">
            <a class="d-flex text-center" href="index.html.twig">
                <i class="col-md-2 fas fa-file-pdf"></i>
                <p class="col-md-10 mt-2">Telecharger le PDF</p>
            </a>
        </div>
    </div>
    {{ form_start(filters) }}
    <table class="table table-hover">
        <thead class="table-primary">
            <tr>
                <th>Catégorie</th>
                <th>{{
                    knp_pagination_sortable(
                        categories,
                        'Nom',
                        'categorie.nom'
                    )|raw
                    }}
                    {{ form_widget(filters.nom) }}</th>
                <th>{{
                    knp_pagination_sortable(
                        categories,
                        'Animaux',
                        'animal.libelle'
                    )|raw
                    }}
                    {{ form_widget(filters.animal) }}</th>
                <th><div>
                        <button type="submit" class="filter-action">
                            <i class="fas fa-search"></i>
                        </button>
                        <a class="filter-action" href="{{ path('app_admin_categorie_index') }}">
                            <i class="fas fa-refresh"></i>
                    </div></th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{% if categorie.parent is not null %}
                        (Sous-cat) {{ categorie.parent.nom }}
                    {% else %}
                        Catégorie parent
                    {% endif %}</td>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.animal.libelle }}</td>
                <td>
                    <a class="pe-1" href="{{ path('app_admin_categorie_show', {'id': categorie.id}) }}"><i class="formFa fa-solid fa-eye ms-1"></i></a>
                    <a class="pe-1" href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}"><i class="formFa fa-solid fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(filters) }}

    <div class="navigation d-flex justify-content-center mt-2">
         {{ knp_pagination_render(categories) }}
    </div>
</div>
{% endblock %}
