{% extends 'front/base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Mon panier</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Produit
                </th>
                <th>
                    Prix/u
                </th>
                <th>
                    Quantité
                </th>
                <th>
                    Total
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in produitSession %}
                <tr>
                    <td>
                        {{ item['produit'].libelle }}
                    </td>
                    <td>
                        {{ item['produit'].prixHt }}€
                    </td>
                    <td>
                        {{ item['qty'] }}
                    </td>
                    <td>
                        {{ item['qty'] * item['produit'].prixHt }}€
                    </td>
                    <td>
                        <a href="{{ path('app_delete_Item', {'id': item['produit'].id}) }}" class="btn btn-danger">Supprimer</a>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if produitSession|length > 0 %}
            <div class="d-flex justify-content-end">
                <a class="btn btn-danger" href="{{ path('app_delete_cart') }}">
                    Vider mon panier
                </a>
                {% if app.user %}
                    <a class="btn btn-primary" href="{{ path('app_livraison') }}">
                        Etape suivante
                    </a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('app_register') }}">
                        Etape suivante
                    </a>
                {% endif %}

            </div>
        {% endif %}
    </div>

{% endblock %}
