{% extends 'front/base.html.twig' %}

{% block title %}Panier | La Nimes'alerie{% endblock %}

{% block body %}

    {% if produitSession|length > 0 %}
        <div id="basketUser">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xl-8 cardLeft">
                        <h3 class="mt-5">Détail de votre panier</h3>
                        <hr>
                        {% set totalPrice = 0 %}
                        {% for item in produitSession %}
                            <div class="cardProduct mt-5">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-3">
                                            <a href="{{ path('app_produit', {'slug': item['produit'].slug}) }}"><img
                                                        class="mt-3 mb-3 ms-4"
                                                        src="{{ asset('build/img/uploads/items/' ~ item['produit'].photo[0].url) }}"
                                                        alt="{{ item['produit'].photo[0].url }}"></a>
                                        </div>
                                        <div class="col-4 col-md-5 col-lg-5">
                                            <h4 class="title ms-5 mt-4">{{ item['produit'].marque.nom }}</h4>
                                            <p class="libelle ms-5 mt-1">{{ item['produit'].libelle }}</p>
                                        </div>
                                        <div class="col-5 col-md-4 col-lg-4 mt-3 text-center">
                                            <div class="col-12">
                                                {% if item['produit'].promotion is not null %}
                                                    <span class="price">{{ (item['produit'].prixHt | prixTtc(item['produit'].tva,item['produit'].promotion.pourcentage)) * item['qty'] }}€</span>
                                                    <span class="qty"> ({{ item['qty'] }})</span>
                                                    <p class="promo">Avec
                                                        remise {{ item['produit'].promotion.pourcentage }}% </p>
                                                    {% set totalPrice = totalPrice + (item['produit'].prixHt | prixTtc(item['produit'].tva,item['produit'].promotion.pourcentage)) * item['qty'] %}
                                                {% else %}
                                                    <div class="mb-3">
                                                        <span class="price">{{ (item['produit'].prixHt | prixTtc(item['produit'].tva,0)) * item['qty'] }}€</span>
                                                        <span class="qty"> ({{ item['qty'] }})</span>
                                                        {% set totalPrice = totalPrice + (item['produit'].prixHt | prixTtc(item['produit'].tva,0)) * item['qty'] %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <a class="btn btn-primary mb-3"
                                                   href="{{ path('app_delete_Item', {'id': item['produit'].id}) }}">Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-12 col-xl-4 cardRight">
                        {{ include('front/partials/_resumeShipping.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row text-center basketEmpty">
                <div class="col-12">
                    <h3 class="mt-5">Votre panier est vide</h3>
                </div>
                <div class="col-12 mt-5">
                    <img src="{{ asset('build/img/basket/empty.png') }}" alt="panier vide">
                </div>
                <div class="col-12 mt-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-4">
                            <a class="btn btn-primary" href="{{ path('app_home') }}">Retour à l'accueil</a>
                        </div>
                        <div class="col-4">
                            {% if app.user %}
                                <a class="btn btn-primary" href="{{ path('app_favoris') }}">Liste de souhait</a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ path('app_register') }}">Liste de souhait</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
